

h1, h2 {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

/* individual cocktails */
div.cocktails div {
    border: 10px;
    margin: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    width: 20%;
}

/* contains the entire cocktail div */
.cocktails {
    display: flex; /* Make the container a flex container */
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
}


.cocktail-image {
    width: 250
    x;
    height: 250px;
    display: block;
    margin: auto;
    
  
    
}

.name-size {
    font-size: x-large;
}


p {
    font-size: larger;
}
