h1, h2 {
    max-width: fit-content;
    margin: auto;
    padding: 10px;
}

div.cocktails div {
    border: 5px;
    margin: 1px;
    border-color: black;
    border-style: solid;
    padding: 5px;
    width: 25%;
}

.cocktails {
    display: flex; /* Make the container a flex container */
    flex-wrap: wrap;
    max-width: fit-content;
    padding: 20px;
}




.cocktail-form {
   
    margin-left: 20px; /* Add some space between the cocktail and form */
    padding-left: 20px; /* Add padding for better appearance */
}

.cocktail-image {
    width: 200px;
    height: 200px;
}

.name-size {
    font-size: x-large;
}



