
h1, h2{
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

div.cocktails div {
    border: 5px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}




.cocktails {
    max-width: 1200px;
    margin: auto;
   
    flex-wrap: wrap;
    padding: 20px;
}

.cocktail-image {
    width: 200px; /* Set width to 100 pixels */
    height: 200px; /* Set height to 100 pixels */
}

.name-size{
    font-size: x-large;
    
}

